@import url("base.css");
@import url("layout.css");
@import url("components.css");
@import url("sections/hero.css");
@import url("sections/curriculum.css");
@import url("sections/work.css");
@import url("sections/footer.css");
@import url("media-queries.css");