@font-face {
    font-family: "Apfel Grotesk";
    src: url("/fonts/ApfelGrotezk-Regular.woff2") format("woff2"),
        url("/fonts/ApfelGrotezk-Regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* ---------- Root & Globals ---------- */

:root {
    --black: #000;
    --white: #f8f8f8;

    --font-size-small: .75rem;

    --primary-font: "Helvetica Neue", Helvetica, Arial, sans-serif;
    --secondary-font: "Apfel Grotesk", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--primary-font);
}

/* ---------- Layout ---------- */

body {
    width: 100%;
    height: 200vh;
    background-color: var(--white);
}

header {
    width: 100%;
    height: 100vh;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    overflow-y: hidden;
    background-color: var(--white);

    /* Header top & bottom rows */
    &>div {
        width: 100%;
        display: flex;
        justify-content: space-between;

        &>p {
            font-size: var(--font-size-small);
        }

        & .links {
            display: flex;
            gap: 1rem;
            text-decoration: underline;

            & a {
                color: var(--black);
            }
        }
    }

    .container {
        width: calc(100%-1rem);
        max-width: 50rem;
        height: auto;
        margin: 0;
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        align-items: center;
        flex-wrap: wrap-reverse;

        & span {
            width: 100%;
            height: 1rem;
        }

        &>* {
            transition: all 0.5s ease;

            &:not(span, :first-child) {
                width: 50%;
                max-width: 25rem;
                aspect-ratio: 1;
            }
        }

        /* First text block */
        &>:first-child {
            flex: 1;
            aspect-ratio: auto;

            & h1 {
                font-family: var(--secondary-font);
            }

            & p {
                line-height: 110%;
            }

        }

        /* Middle Image */
        &>:nth-child(3) {
            object-fit: cover;
            object-position: top;
            border-radius: 0 1rem 1rem 0;

        }

        /* Star block */
        &> :last-child {
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 3%;
            background: var(--white);
            border: solid .3vw var(--black);
            border-radius: 1rem 0 0 1rem;

            & img {
                width: 100%;
                height: auto;
            }
        }



    }

}








@media screen and (min-width:1080px) {
    header {
        & .container {
            max-width: 70%;

            & span {
                width: 0;
                height: 0;
            }

            &>*:not(span, :first-child) {
                flex: 0 0 25%;
                max-width: 25%;
            }

            /* First text block */
            &>:first-child {
                padding-left: 1rem;
                transition: transform 0.5s ease, opacity 0.25s ease 0.25s;

            }

            &:not(:hover)>* {
                border-radius: 1rem;

                &:first-child {
                    transform: translateX(-50%);
                    opacity: 0;
                    transition: transform 0.5s ease 0.25s, opacity 0.25s ease;
                }

                &:last-child {
                    transform: translateX(150%);
                }

                &:nth-child(3) {
                    transform: translateX(50%);
                }
            }

        }

    }

}

@media screen and (min-width:1360px) {
    header {
        & .container {

            &>*:not(span, :first-child) {
                flex: 0 0 33.33%;
                max-width: 33.33%;
            }

            /* First text block */
            &>:first-child {
                aspect-ratio: 1;
            }

            &:not(:hover)>* {
                border-radius: 1rem;

                &:first-child {
                    transform: translateX(-50%);
                    opacity: 0;
                    transition: transform 0.5s ease 0.25s, opacity 0.25s ease;
                }

                &:last-child {
                    transform: translateX(100%);

                }

                &:nth-child(3) {
                    transform: translateX(0);
                }
            }

        }

    }

}