/* ▸ FOOTER
   -------------------------------------------------- */
footer {
    /* Full-height dark footer with contact details */
    color: var(--white);
    width: 100%;
    min-height: 90vh;
    background-color: var(--black);
    padding: var(--font-size-large);

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & h1 {
        font-family: var(--secondary-font);
        font-size: var(--variable-font-size-Gigantic);
        line-height: 100%;
    }

    & a {
        color: var(--white);
        font-size: var(--variable-font-size-XXlarge);
        border-bottom: solid 2px var(--white);
        width: max-content;
        word-break: break-all;
        max-width: 100%;
    }

    & > div {
        display: flex;
        width: 100%;
        gap: 1rem;
        &:first-child {
            flex-direction: column;
        }

        &:last-child {
            justify-content: space-between;
            align-items: center;
            flex-direction: column-reverse;


            & svg {
                height: calc(var(--font-size-XXlarge) * 1.5);
                width: 100%;
            }
        }
    }
}