.detailedWork {
    width: 100%;
    height: 90%;
    overflow-y: scroll;
    padding: 2rem;
    position: fixed;
    z-index: 1001;
    top:100%;

    transition: all .5s ease-out;
    background-color: var(--white);
    box-shadow: 0 -10px 0rem var(--black);

    display: flex;
    flex-direction: column;
    gap: 1rem;

    &.active{
        top: 10%;
        box-shadow: 0 -10px 1000rem var(--black);

    }

    & .goBack{
        width: max-content;
        border-bottom: solid 1px var(--black);
    }
    & .photoGrid {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 16px;
        grid-row-gap: 16px;

        &>*{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        & :first-child {
            grid-area: 1 / 1 / 2 / 2;
        }

        & :nth-child(2) {
            grid-area: 1 / 2 / 3 / 3;
        }

        & :nth-child(3) {
            grid-area: 2 / 1 / 3 / 2;
        }

        & :nth-child(4) {
            grid-area: 3 / 1 / 4 / 3;
        }
    }
}